body {
    margin: 0;
    
}

.products {
    margin-top: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
   
    
}


.main-products{
    margin-top: 100px;

}

.prod {
    width: 40%;
    height: 500px;
    margin: 10px;
    padding: 10px;
    border: 15px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    text-align: center;
    z-index:-3;
    border-radius: 30px;
 

}

.prod h4 {
    font-size: 40px;
    margin: 30px ;
    color:rgb(255, 160, 43)
}


#imgonda{
    width:100%;
    height:1600px;
    position: absolute;
    left: 0%;
    right:0%;
    margin-top: 1150px;
    z-index:-3;
    filter: brightness(3);
    


}

h5{
    text-align: center;
    color:rgb(225, 139, 0);
    font-size: 60px;
    padding-top: 10px;
    margin-bottom:-350px;
    font-family: 'Ruwudu', serif;
    margin-top: 500px;
    
}


.products img {
    width: 420px;
    margin-top: 30px;
    z-index:-3

}

@media screen and (max-width: 768px) {
    .prod {
        width: 90%;
    }




}


@media screen and (max-width: 500px) {


    .products img {
        width:320px;
    }
}

@media screen and (max-width: 300px) {

    .products img {
        width:220px;
    }

}

@media screen and (max-width: 1300px) {
    #imgonda{
        width:100%;
        height:1600px;
        position: absolute;
        left: 0%;
        right:0%;
        margin-top: 1360px;
        
    }
    
  }

  @media screen and (max-width: 1040px) {


    .products img {
        width:320px;
    }
  }

  @media screen and (max-width:  926px) {


    .products img {
        width:220px;
    }
  }

  @media screen and (max-width:  444px) {


    h5 {
        
       margin-top:1120px;
       font-size: 30px;
    }

    
}